.logo{
    height: 30px;
}
.logo img{
    height: 100%;
}
.mLogo{
    margin: 10px;
    margin-left: 110px;
}
/* .card{
    margin: mt-2;
} */
.razor{
    margin-left: 110px;
    margin-top: 20px;
}